
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: rgb(225,228,232);
}



body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.first_page {
    height: 100vh;
    background-color: rgb(36,41,46);
}

@media (max-width: 768px) {
  .secondPage .container {
      height: auto;
    }
  }

.second_page {
    min-height: 100vh;
    background-color: rgb(31,36,40);
}

.third_page {
    min-height: 100vh;
    background-color: rgb(36,41,46);
}

.fourth_page {
    height: 100vh;
    background-color: rgb(31,36,40);
}

.fifth_page {
    height: 15vh;
    background-color: rgb(36,41,46);
}

  .navbar {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(31,36,40);
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  .flex-elements {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .centered-container {
    width: 60%;
    height: 30%
  }


  /* TEXT STYLING */
  a {
    color: white;
    text-decoration: none;
  }

  .text-color-one {
    color: #8998F5;
  }

  .text-color-two {
    color: #E48CF5;
  }

  .text-color-three {
    color: #BC7FF5;
  }

  .text-color-four {
    color: #957FF5;
  }



  .container {
    text-align: center;
  }


  .border {
    border: 3px solid rgb(225,228,232);
  }

  /* .container {
    border: 1px solid black;
  } */


  /* DYNAMIC IMAGE RESIZING */

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


/* ID FOR PAGE LINKS */

#firstPage {}
#secondPage {}
#thirdPage {}
#fourthPage {}
#fifthPage {}



/* ROUNDING OF PROJECT IMAGES */

.img-rounded {
  border-radius: 6px; /* Adjust the value to your 
  preference */
  border: 1px solid rgb(225,228,232);
}



.project-div {
  margin-bottom: 30px; /* Adjust as per your preference */
}

.project-title {
  margin-top: 30px;
}


/* NAVBAR TEXT COLOUR */
.navbar-nav .nav-link {
  color: rgb(225,228,232);
}

.auto-type {
  color: #957FF5;
}